@font-face {
  font-family: cinzel;
  src: url('./fonts/CinzelDecorative-Regular.ttf');
}

* {
  font-family: cinzel;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

.webgl {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  outline: none;
}

.App {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container {
  font-size: 5rem;
  margin: 4rem;
}

.logo {
  display: inline-block;
  perspective: 1000px;
  transform-style: preserve-3d;
}
